<!--<p>
  cav-mon-breadcrumb works!
</p>-->

<!-- <div class="custom-breadcrumb">
    <div class="ui-g config-ui"> -->
        <div class="ui-g-9" class="breadcrumb-header" >
            <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
            <!-- <p><b>Home </b></p> -->
            
        </div>
        <!--<div class="ui-g-3 togglebtn" *ngIf="displaySessionLabel">
            <md-slide-toggle class=' breadcrumb-toggle' (click)="enabledRTC()" [(ngModel)]="trData.switch" [disabled]="trData.trNo == null">
                Apply changes on Session no: {{ trData.trNo == null ? 'NA' : trData.trNo }}
            </md-slide-toggle>
        </div>-->

    <!-- </div>
</div> -->