<!--<p>
  monitors works!
</p>-->
 
<div class ="monitorPanel">
<form  (ngSubmit)="addData()" #form="ngForm" ngNativeValidate>
    <p-panel class="monitorCss">
        <p-header>
              <span>
                  Configure Monitor :{{monName}} 
              </span> 
              <span style="margin-left:2%;">
                   Tier :{{tierName}}
              </span> 
                <!--<div style="float: right">
                <button pButton type="button" icon="fa fa-refresh" label="reset"></button>
                <button pButton type="button" icon="fa-check" label="save" ></button>
                </div>-->
        </p-header>

     <div class = "ui-g-12"  *ngIf="tierId != -1" >
       <div class="ui-g-1"  style="width:7.333%">
                <label>Server Name</label>
        </div>
        <div class="ui-g-4 mbeanDrpdown">
          <p-dropdown name="topoId" [(ngModel)]="selectedTableData.serverName" [options]="serverList" placeholder="-- Select Server Name --" [style]="{'width':'77%','margin-left': '-1px'}"  appendTo="body" required ngModel></p-dropdown>
        </div>
     </div>


     <div  *ngFor="let item of compArgs; let i = index">
       
       <div class = "ui-g-3">
           <label *ngIf="item.type == 'TextField'" style="margin-right: 2%;">{{item.label}}</label>
           <input name={{item.label}} type="text"  *ngIf="item.type == 'TextField'"  [(ngModel)]="item.value" class="spanClass2"  title="{{item.modal}}" required ng-model/>
       </div>
           <!--<p-textbox *ngIf="item.type == 'textbox'" [(ngModel)]="item.modal" class="spanClass2" ></p-textbox>-->
           <p-checkbox id={{item.id}} class="spanClass2" [(ngModel)]="item.value" label="{{item.label}}" binary="true" *ngIf="item.type == 'checkbox'"></p-checkbox>
           <!--<input type="checkbox" id={{item.id}} value={{item.defaultValue}} class="spanClass2" *ngIf="item.type == 'checkbox'"/>-->
           <p-spinner [min]="0" [max]="100" size="4"  [(ngModel)]="item.value" (keypress)="eventHandler($event)" *ngIf="item.type == 'spinner'" class="spanClass2"></p-spinner>
           <span *ngIf="item.type == 'listbox'" class="body1Div"><p-dropdown [autoWidth]="false" class="spanClass2" [options]="item.options" [(ngModel)]="item.modal" (click)="showSelectedCmdGUI()"></p-dropdown></span>

        <span *ngIf="item.type == 'radiobutton'">
             <span *ngFor="let item1 of item.components">
               <p-radioButton  name="item.groupName" [attr.id]="item1.id" [label] ="item1.item" [value] ="item1.arg" [(ngModel)]="item.defaultValue"></p-radioButton>
             </span>
        </span>
   
        </div> 

        <div class="pull-right">
           <button type="submit" pButton  icon="fa-check" style="width: 63px ; " *ngIf="isNewConfig == true" label="Add"></button>
           <button type="submit" pButton  icon="fa-check" style="width: 93px ;" *ngIf="isNewConfig == false" label="Update"></button>
        </div>

    </p-panel>
  </form>
 </div>

<div>
      <!-- for the configuration datatable toolbar -->
<div style="margin-bottom:-32px ; margin-top: 5px">
   <p-toolbar>
     <span><b>Configuration Data</b></span> 
     <div  class="appIcon-css">
        <button pButton class="toolbarIcon" type="button" icon="fa-pencil" (click)="editConfigData()" title="Edit Configuration"></button>
    </div>
   </p-toolbar>
</div>

  <p-dataTable class="conf-ui" [value]="tableData" [(selection)]="selectedTableData" [rows]="5" [paginator]="weblogicStatsTableData?.length >5" [pageLinks]="3"  [resizableColumns]='true' [style]="{'margin-top':'30px'}">
       
       <p-column [style]="{'width':'50px'}" selectionMode="multiple">
       </p-column>

        <p-column  [style]="{'width':'326px'}" class="col-overflow" header="Server" field="serverName" >
          <template let-col let-data="rowData" pTemplate type="body">
            <span [title]="data[col.field]">{{data[col.field]}}</span> 
          </template>
        </p-column>

         <p-column  class="col-overflow" header="Arguments" field="arguments">
            <template  let-col let-data="rowData" pTemplate="body">
              <span [title]="data[col.field]">{{data[col.field]}}</span> 
            </template>
         </p-column>

     </p-dataTable>
 </div>




