<!--<p>
  monitors works!
</p>-->
 
<form  #form="ngForm" ngNativeValidate>
 <p-toolbar styleClass="toolbarCss">
   <b style="margin: 10px">Tier MonName</b>
    <div style="float: right">
    <button pButton type="button" label="Reset" icon="fa fa-refresh"></button>
    <button pButton  (click)="saveData()" type="button" label="Save" icon="fa-check" ></button>
    </div>
 </p-toolbar>

     <div  *ngFor="let item of compArgs; let i = index">
       <div class = "ui-g-2">
           <label *ngIf="item.type == 'TextField'" >{{item.label}}</label>
       </div>
       <div class="ui-g-2">
           <input name={{item.label}} type="text"  *ngIf="item.type == 'TextField'"  [(ngModel)]="item.defaultValue" class="spanClass2"  title="{{item.modal}}"/>
       </div>
           <!--<p-textbox *ngIf="item.type == 'textbox'" [(ngModel)]="item.modal" class="spanClass2" ></p-textbox>-->
           <p-checkbox id={{item.id}} class="spanClass2" [(ngModel)]="item.defaultValue" label="{{item.label}}" binary="true" *ngIf="item.type == 'checkbox'"></p-checkbox>
           <!--<input type="checkbox" id={{item.id}} value={{item.defaultValue}} class="spanClass2" *ngIf="item.type == 'checkbox'"/>-->
           <p-spinner [min]="0" [max]="100" size="4"  [(ngModel)]="item.defaultValue" (keypress)="eventHandler($event)" *ngIf="item.type == 'spinner'" class="spanClass2"></p-spinner>
           <span *ngIf="item.type == 'listbox'" class="body1Div"><p-dropdown [autoWidth]="false" class="spanClass2" [options]="item.options" [(ngModel)]="item.modal" (click)="showSelectedCmdGUI()"></p-dropdown></span>

        <span *ngIf="item.type == 'radiobutton'">
             <span *ngFor="let item1 of item.components">
               <p-radioButton  name="item.groupName" [attr.id]="item1.id" [label] ="item1.item" [value] ="item1.arg" [(ngModel)]="item.defaultValue"></p-radioButton>
             </span>
        </span>

        </div> 
</form>



