<p-dataTable class="mon-ui-config-datatable"  [value]="jsonsTableData" [(selection)]="selectedJson" [rows]="5" [paginator]="jsonsTableData?.length >5" [pageLinks]="3">
    <p-header>
        <div  class="appIcon-css">
           <button pButton type="button" title="Add " (click)="openAddDialog()" icon="fa-plus"></button>
           <button pButton type="button" title="Edit "(click)="openEditDialog()" icon="fa-pencil" ></button>
            <button pButton type="button"class="ui-button-danger" title="Delete " (click)="deleteApp()" icon="fa-trash"></button>
        </div>
     </p-header>

     <p-column   [style]="{'width':'46px'}" *ngFor="let col of cols" [field]="col.field" [header]="col.header">
        <template  let-data="rowData" pTemplate>
           <span >{{data[col.field]}}</span>
        </template>
    </p-column>
</p-dataTable>


  <!--Dialog for add/Edit funtionality-->
  <p-dialog class="profile-dialog" header="{{isNewMJson ? 'New MJson' : 'Edit MJson'}}" *ngIf="addEditMJsonDialog" [(visible)]="addEditMJsonDialog" modal="modal" width="500" responsive="true">
     <form (ngSubmit)="saveEditMJson()" #groupForm="ngForm" ngNativeValidate>

       <div  *ngFor="let item of columnData; let i = index">

       <div class="ui-g">
        <div class="ui-g-4" >
          <label>{{item.label}}</label>
        </div>
        <div class="ui-g-8">
         <input name="appName" type="text" class="config_app" pInputText [(ngModel)]="mJsonData.name" title="Please enter valid json name. &#013;json name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                            autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
         </div>
       </div>
        
                
        <div class="ui-g">
          <div class="ui-g-4">
            <label>Description</label>
         </div>
         <div class="ui-g-8">
           <textarea name="desc" rows="2" cols="31" class="config_app" pInputTextarea [(ngModel)]="mJsonData.desc" ngModel></textarea>
         </div>

       </div>
                </div>
                <footer>
                    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                        <button type="submit" pButton icon="fa-check" (click)="routeOnSave(mJsonData.name,selectedTopology)" label="Save"></button>
                        <button type="button" pButton icon="fa-close" (click)="addEditMJsonDialog = false;" label="Cancel"></button>
                    </div>
                </footer>
            </form>
        </p-dialog>

            