<!--<p>
  cav-mon-right-pane works!
</p>-->
<div style="margin: 21px 0px">
<p-fieldset  [style]="{'font-size':'13px' }"  legend="Select a topology">
  <div class = "ui-g-9">
    <p-dropdown  [style]="{'width':'60%' ,'font-size':'13px'}" class ="homedropdown" [options]="topologyList" [(ngModel)]="selectedTopology" (onChange)="topoChange($event.value)" ></p-dropdown>
  </div>
</p-fieldset>
</div>

<div class="ui-g mon-hometable" >
    <!--For showing Session Attribute(s) list -->
<p-dataTable class="mon-ui" [value]="jsonsTableData" [(selection)]="selectedJson" [rows]="5" [paginator]="jsonsTableData?.length >5" [pageLinks]="3" [style]="{'height':'200px'}">
        <p-header>
            <span style = "font-size:13px"><b>MJson of  Topology  {{selectedTopology}}</b></span>
        </p-header>

        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column class="col-overflow" field="name" header="Name" [sortable]="true">
            <template let-col let-json="rowData" pTemplate type="body">
                <span title="{{json[col.field]}}"> <a class="hyperlink" (click)="routeToConfiguration(json['name'])" >{{json[col.field]}}</a></span>
            </template>
        </p-column>

        <p-column class="col-overflow" field="desc" header="Description" [sortable]="true">
            <template let-col let-json="rowData" pTemplate type="body">
                       <span title="{{json[col.field]}}">{{json[col.field]}}</span>
                    </template>
        </p-column>

        <p-column class="col-overflow" field="monCount" header="Number Of Monitors" [sortable]="true">
            <template let-col let-json="rowData" pTemplate type="body">
                       <span title="{{json[col.field]}}">{{json[col.field]}}</span>
                    </template>
        </p-column>

         <p-column class="col-overflow" field="lastModified" header="Last Updated On" [sortable]="true">
            <template let-col let-json="rowData" pTemplate type="body">
                       <span title="{{json[col.field]}}">{{json[col.field]}}</span>
                    </template>
        </p-column>

    </p-dataTable>
</div>

<div class="configui">
        <button pButton type="button"   [disabled]="saveDisable"  (click)="openAddDialog()" label="Create" icon="fa-plus"></button>
        <button pButton type="button"   [disabled]="saveDisable" (click)="editSessionAttribute()" label="Edit" icon="fa-pencil"></button>
        <button pButton type="button"  [disabled]="saveDisable"  (click)="deleteSessionAttribute()" label="Delete" icon="fa-trash-o"></button>
</div>

<!--Dialog for adding MJson-->

<p-dialog class="profile-dialog" header="{{isNewMJson ? 'New MJson' : 'Edit MJson'}}" *ngIf="addEditMJsonDialog" [(visible)]="addEditMJsonDialog" modal="modal" width="500" responsive="true">
    <form (ngSubmit)="saveEditMJson()" #groupForm="ngForm" ngNativeValidate>
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Name</label>
            </div>
            <div class="ui-g-8">
                  <input name="appName" type="text" class="config_app" pInputText [(ngModel)]="mJsonData.name" title="Please enter valid json name. &#013;json name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                    autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" ngModel />
            </div>
        </div>

      
        <!--<div class="ui-g">
            <div class="ui-g-4">
                <label>Topology</label>
            </div>
            <div class="ui-g-8">
                <input name="dropdown" type="text" class='hidden-validator' pInputText [(ngModel)]="jsonDetail.topoId" required ngModel/>
                <p-dropdown name="topoId" [options]="topologySelectItem" placeholder="--Select Topology--" [style]="{'width':'72%'}" [(ngModel)]="jsonDetail.topoId" required ngModel></p-dropdown>
            </div>
        </div>-->
        <div class="ui-g">
            <div class="ui-g-4">
                <label>Description</label>
            </div>
            <div class="ui-g-8">
                <textarea name="desc" rows="2" cols="31" class="config_app" pInputTextarea [(ngModel)]="mJsonData.desc" ngModel></textarea>
            </div>
        </div>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="submit" pButton icon="fa-check" label="Save"></button>
                <button type="button" pButton icon="fa-close" (click)="addEditMJsonDialog = false;" label="Cancel"></button>
            </div>
        </footer>
    </form>
</p-dialog>





