<div class="tabsincontent">
    <div class="header"> 
      <span style="padding-left:10px">Configure Weblogic Monitors for Tier : {{tierfield}}</span>
       <div class="pull-right">
         <button type="button" pButton icon="fa-refresh" (click)="resetKeywordData()" label="Reset"></button>
         <button type="submit" pButton icon="fa-check" [disabled]="saveDisable" label="Save"></button>
       </div>
    </div> 

    <div class="ui-g">
     <div  class="ui-g-12">
        <p-panel  class="hideheader">
           <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
          <div class = "ui-g">
          <form (ngSubmit)="saveWeblogicConfiguration()" #form="ngForm" ngNativeValidate>
          
          <div class = "ui-g-12">
          </div>
          
           <div class = "ui-g-12">
          </div>
          
          <div class = "ui-g-12"  *ngIf="tierfield != 'All_Tier'">
            <div class ="ui-g-1"></div>
           <div class="ui-g-1">
                <label>Select Server</label>
             </div>
             <div class="ui-g-4 mbeanDrpdown">
                <p-dropdown name="topoId"    [options]="serverList" placeholder="--Select text --" [style]="{'width':'77%','margin-left': '-1px'}"  appendTo="body" required ngModel></p-dropdown>
             </div>
          </div>

          <div class="ui-g-12">
             <div class="ui-g-1"></div>
             <div class="ui-g-1">
                <label>User Name</label>
             </div>
             <div class="ui-g-4 monConfigRow">
               <input name="userName" style="width:192px" type="text"  pInputText  [(ngModel)]="weblogic.JDBCStats.userName"   
                pInputText   required ngModel />
             </div>
              <div class="ui-g-1">
                <label>Password</label>
             </div>
             <div class="ui-g-4 monConfigRow">
               <input name="pwd" style="width:192px" type="text"   [(ngModel)]="weblogic.JDBCStats.pwd" 
                size="30" pInputText  required ngModel/>
             </div>
              <div class="ui-g-1">
               <label>Host Name</label>
              </div>
              <div class="ui-g-4 monConfigRow">
               <input name="hostName" style="width:192px" type="text"   [(ngModel)]="weblogic.JDBCStats.hostName" 
               size="30" pInputText  pattern="[^\s]{0,49}$"  required ngModel/>
              </div>
          </div>

          <div class="ui-g-12">
             <div class="ui-g-1"> </div>
             <div class="ui-g-1">
                <label>Port</label>
             </div>
             <div class="ui-g-4 monConfigRow">
               <input name="port" type="text"  style="width:192px"  [(ngModel)]="weblogic.JDBCStats.port" 
                size="30" pInputText   required ngModel/>
             </div>

          </div>

          <div class = "ui-g-12">
            <div class="ui-g-1"></div>
            <div class="ui-g-1">
              <label>Select Weblogic Stats</label>
            </div>

             <div class="ui-g-4 mbeanDrpdown">
                <p-dropdown name="weblogicStats"  [(ngModel)]="weblogic.JDBCStats.mBeanType" [options]="weblogicStats" placeholder="--Select Weblogic Stats--" [style]="{'width':'77%','margin-left': '-1px'}"  appendTo="body" required ngModel></p-dropdown>
             </div>
          </div>


           <div class="ui-g-12">
              <div class="ui-g-1"> </div>
              <div class ="ui-g-2">
               <p-checkbox name="enable"  binary="false" label = "Enable"></p-checkbox>
             </div>
             <div class="ui-g-1">
                <label>Instance Name</label>
             </div>
             <div class="ui-g-4 monConfigRow">
               <input name="instanceName" type="text"   [(ngModel)]="weblogic.JDBCStats.instanceName" style="width:192px" 
                size="30" pInputText  pattern="[^\s]{0,49}$" ngModel/>
             </div>
             <div class="ui-g-1">
                <label>MBean Type</label>
             </div>
             <div class="ui-g-4 mbeanDrpdown">
                <p-dropdown name="topoId"  [(ngModel)]="weblogic.JDBCStats.mBeanType" [options]="typeItems" placeholder="--Select Mbeans Type--" [style]="{'width':'77%','margin-left': '-1px'}"  appendTo="body" required ngModel></p-dropdown>
             </div>
          </div>

        
            <div class="pull-right">
              <button type="submit" pButton icon="fa-check" label="Add"></button>
            </div>
         </form>

             <div>
             <p-dataTable class="mon-ui" [value]="weblogicStatsTableData" [(selection)]="selectedJson" [rows]="5" [paginator]="weblogicStatsTableData?.length >5" [pageLinks]="3" [style]="{'height':'200px'}">
              <p-header>
              <span style = "font-size:13px"><b>MJson of  Topology  {{selectedTopology}}</b></span>
              </p-header>

              <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

              <p-column   [style]="{'width':'46px'}" *ngFor="let col of cols" [field]="col.field" [header]="col.header">
               <template   let-data="rowData" pTemplate >
                <span [style]="{'width':'2%','padding':'1px'}" >{{data[col.field]}}</span> 
               </template>
              </p-column>
              
            </p-dataTable>
             </div>


           </div>
           </div>
        </p-panel>
     </div>
    </div>

</div>