
   
      <span  *ngIf="item.type == 'TextField'"  >
           <label *ngIf="item.type == 'TextField' && item.label != null" style="margin-right: 2%;">{{item.label}}</label>
           <input [disabled]="disabled" name={{item.label}} type="text"  *ngIf="item.type == 'TextField'"  [(ngModel)]="item.value" class="spanClass2"  title="{{item.modal}}" required ng-model/>
       </span>

        <span *ngIf="item.type == 'Checkbox'">   
          <p-checkbox  [disabled]="disabled" name="item.label" [(ngModel)]="item.value" label="{{item.label}}" binary="true" ></p-checkbox>
        </span>
        
        <span *ngIf="item.type == 'Spinner'">
           <label *ngIf="item.type == 'Spinner'" style="margin-right: 2%;">{{item.label}}</label>
          <p-spinner [disabled]="disabled" name="item.label" [min]="0" [max]="100" size="4"  [(ngModel)]="item.value"  *ngIf="item.type == 'Spinner'" class="spanClass2"></p-spinner>
        </span>

        <span *ngIf="item.type == 'Dropdown'">
           <label  style="margin-right: 2%;">{{item.label}}</label>   
           <p-dropdown name="list" [disabled]="disabled"  [options]="item.dropDownList" [(ngModel)]="item.value"></p-dropdown>
        </span>

        <span *ngIf="item.type == 'RadioButtonGroup'">
          <span  *ngFor="let each of item.items">
            <div class="ui-g-2">
             <p-radioButton  name="each.label"  [label] ="each.label" [value] ="each.arg" [(ngModel)]="item.value"></p-radioButton>
            </div>
            <div class="ui-g-2" *ngIf="each.dependentComp != null">
             <app-dependent-comp  [disabled]="item.value != each.arg" [dependentCompData]="each.dependentComp"></app-dependent-comp>
            </div>
          </span>     
        </span>

        <div  class="ui-g-12" *ngIf="item.type == 'Table'">
          <app-dynamic-tableview [columnData]="item.columnData" [disabled]="disabled"></app-dynamic-tableview>
        </div>

