<!--<p>
  configuration-home works!
</p>-->
<p-toolbar styleClass="toolbarCss">
   <b style="margin: 10px">Topology : {{topoName}}</b>
    <div style="float: right">
    <button pButton type="button" label="Reset" icon="fa fa-refresh"></button>
    <button pButton type="button" label="Save" icon="fa-check" ></button>
    </div>
</p-toolbar>

<div class="ui-g-12 derivedadvanced" id="top-div">

<p-treeTable class="mon-ui "  scrollable="true" [value]="compData" selectionMode="checkbox"  [style]="{'margin-top':'50px'}">
    <p-column [style]="{'min-width':'400px'}" field="monitor" header="Monitor">
       <template  let-col let-data="rowData" pTemplate >
       <span>{{data.data[col.field]}}</span> <i class="fa fa-cog"  (click)="advanceSettings(data.data['monitor'],col.field)" aria-hidden="true" title="Advance settings"></i> 
       </template>
    </p-column>

    <p-column  *ngFor="let col of cols" [field]="col.field" [header]="col.header">
      <template   let-data="rowData" pTemplate >
        <p-triStateCheckbox *ngIf="col.field != 'monitor'" onChange="onChangeCheckbox()"></p-triStateCheckbox>
         <a (click)="advanceSettings(data.data['monitor'],col.field)" *ngIf="col.field != 'monitor'"> <i class="fa fa-cog"  aria-hidden="true" title="Advance settings"></i> </a>
        <!-- <span [style]="{'width':'2%','padding':'1px'}" *ngIf="col.field == 'monitor'" >{{data.data[col.field]}}</span> -->
      </template>
    </p-column>


    <!--<p-column field="name" header="Name"></p-column>
    <p-column field="size" header="Size"></p-column>
    <p-column field="type" header="Type"></p-column>-->
</p-treeTable>

</div>