<!--<p>
  configuration-home works!
</p>-->
<p-toolbar styleClass="toolbarCss">
   <b style="margin: 10px">Topology : {{topoName}}</b>
    <div style="float: right">
    <button pButton type="button" label="Reset" icon="fa fa-refresh"></button>
    <button pButton type="button" label="Save" icon="fa-check" ></button>
    </div>
</p-toolbar>


<div class="ui-g config-ui">
</div>
   
<div class="ui-g-12" id="top-div">
 <p-treeTable class="mon-ui "  scrollable="true" [value]="compData"  selection="false">
    <p-column [style]="{'width':'176px'}" field="monitor" header="Monitor">
        <!--<p-column  field="monitor" header="Monitor">-->
       <template  let-col let-data="rowData" pTemplate >
       <p-checkbox   [(ngModel)]="data.data['monitorState']" (click)="onTreeNodeCheckBoxChange(data)"   binary="false"></p-checkbox>
       <span>{{data.data[col.field]}}</span>
       </template>
      </p-column>

      <p-column [sortable]="true" [style]="{'width':'80px'}">
          <template let-col let-data="rowData" pTemplate>
              <i style="font-size: 16px ; margin-right:30%; cursor: pointer;" class="fa fa-cog" (click)="advanceSettings(data.data['monitor'],'All_Tier')" aria-hidden="true" title="Advance settings"></i>
          </template>
      </p-column>
  
    <p-column   [style]="{'width':'46px'}" *ngFor="let col of cols" [field]="col.field" [header]="col.header">
      <template   let-data="rowData" pTemplate >
        <!--<p-checkbox  *ngIf="col.field != 'monitor'"  *ngFor="let key of dynamicKey"  [(ngModel)]="key[data.data.monitor + col.field]"   binary="false"></p-checkbox>-->
       <p-checkbox   [(ngModel)]="data.data[col.field]"  (click)="onCheckBoxChange()"   binary="false"></p-checkbox>
       <a *ngIf="col.field != 'monitor'"> <i class="fa fa-long-arrow-up fa-rotate-45" (click)="advanceSettings(data.data['monitor'],col.field)" aria-hidden="true" title="Advance settings"></i> </a>
        <!-- <span [style]="{'width':'2%','padding':'1px'}" *ngIf="col.field == 'monitor'" >{{data.data[col.field]}}</span> -->
      </template>
    </p-column>


    <!--<p-column field="name" header="Name"></p-column>
    <p-column field="size" header="Size"></p-column>
    <p-column field="type" header="Type"></p-column>-->
</p-treeTable>
</div>